<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Display Rows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
        <button><a href="{% url 'getKeyspaces' %}">Click here to go back</a></button>
        <h4>Select table column ( fix form for search):</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <!--Form doesn't work, idk why :/ -->
            {{ tableForm }}
            <input type="submit" value="Submit">
        </form>
        {% if fullstack %}
        <table style="width:100%" class="table">
            <div>
                <h1>Fullstack Table ( limited 50, no scrolling feature yet)</h1>
                <tr>
                    <th>ID</th>
                    <th>Contents</th> 
                    <th>End Time</th>
                    <th>FD</th>
                    <th>Host Name</th>
                    <th>Pipe Value</th>
                    <th>Process ID</th>
                    <th>Return Byte</th>
                    <th>Socket Type</th>
                    <th>FD</th>
                    <th>Start Time</th>
                    <th>System call</th>
                    <th>Thread ID</th>
                    <th>Turnaround Time</th>
                    <th>Valid</th>

                </tr>
                {% for row in fullstack %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.contents}}</td>
                    <td>{{row.end_time}}</td>
                    <td>{{row.fd}}</td>
                    <td>{{row.host_name}}</td>
                    <td>{{row.pipe_val}}</td>
                    <td>{{row.proc_id}}</td>
                    <td>{{row.proc_name}}</td>
                    <td>{{row.return_byte}}</td>
                    <td>{{row.sock_type}}</td>
                    <td>{{row.start_time}}</td>
                    <td>{{row.sys_call}}</td>
                    <td>{{row.thread_id}}</td>
                    <td>{{row.turnaround_time}}</td>
                    <td>{{row.valid}}</td>
                {% endfor %}
                </tr>
            </div>
        </table>
        {% endif %}

        {% if error %}
        <h1>Error Table</h1>
        <tr>
            <th>ID</th>
            <th>Contents</th> 
            <th>End Time</th>
            <th>FD</th>
            <th>Host Name</th>
            <th>Pipe Value</th>
            <th>Process ID</th>
            <th>Return Byte</th>
            <th>Socket Type</th>
            <th>FD</th>
            <th>Start Time</th>
            <th>System call</th>
            <th>Thread ID</th>
            <th>Turnaround Time</th>
            <th>Valid</th>

        </tr>
        {% for row in error %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.contents}}</td>
            <td>{{row.end_time}}</td>
            <td>{{row.fd}}</td>
            <td>{{row.host_name}}</td>
            <td>{{row.pipe_val}}</td>
            <td>{{row.proc_id}}</td>
            <td>{{row.proc_name}}</td>
            <td>{{row.return_byte}}</td>
            <td>{{row.sock_type}}</td>
            <td>{{row.start_time}}</td>
            <td>{{row.sys_call}}</td>
            <td>{{row.thread_id}}</td>
            <td>{{row.turnaround_time}}</td>
            <td>{{row.valid}}</td>
        {% endfor %}
        </tr>
        {% endif %}

        {% if openstack %}
        <table style="width:100%" class="table">
            <div>
                <h1>Open Table ( limited 50, no scrolling feature yet)</h1>
                <button><a href="{% url 'newOpenstackQuery' %}">Click here to insert new query</a></button>
                <tr>
                    <th>ID</th>
                    <th>Contents</th> 
                    <th>End Time</th>
                    <th>FD</th>
                    <th>Host Name</th>
                    <th>Pipe Value</th>
                    <th>Process ID</th>
                    <th>Return Byte</th>
                    <th>Socket Type</th>
                    <th>FD</th>
                    <th>Start Time</th>
                    <th>System call</th>
                    <th>Thread ID</th>
                    <th>Turnaround Time</th>
                    <th>Valid</th>

                </tr>
                {% for row in openstack %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.contents}}</td>
                    <td>{{row.end_time}}</td>
                    <td>{{row.fd}}</td>
                    <td>{{row.host_name}}</td>
                    <td>{{row.pipe_val}}</td>
                    <td>{{row.proc_id}}</td>
                    <td>{{row.proc_name}}</td>
                    <td>{{row.return_byte}}</td>
                    <td>{{row.sock_type}}</td>
                    <td>{{row.start_time}}</td>
                    <td>{{row.sys_call}}</td>
                    <td>{{row.thread_id}}</td>
                    <td>{{row.turnaround_time}}</td>
                    <td>{{row.valid}}</td>
                {% endfor %}
                </tr>
            </div>
        </table>
        {% endif %}
        
        
      
        {% if employee %}
        <table style="width:100%" class="table">
        <h1>Employee Table</h1>
        <button><a href="{% url 'newEmployeeQuery' %}">Click here to insert new query</a></button>
        <tr>
            <th>Employee ID</th>
            <th>Name</th> 
            <th>City</th>
            <th>Salary</th>
        </tr>
        {% for row in employee %}
        <tr>
            <td><a href="{% url 'details' row.emp_id %}">{{row.emp_id}}</a></td>
            <td>{{row.ename}}</td>
            <td>{{row.city}}</td>
            <td>{{row.sal}}</td>
        {% endfor %}
        </tr>
        </table>
        {% endif %}

</table>

</table>
</body>
</html>